*{
  box-sizing: border-box;
}
.container{
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.title{
  text-align: center;
  margin-bottom: 25px;
}
.site-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.site-input{
  margin: 0 20px;
}
.site-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.site-item{
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
}
.site-img{
  width: 100px;
}
.item-title{
  margin-top: 0;
}
.form__error{
  position: absolute;
  display: block;
  border: 3px solid red;
  color: red;
  padding: 4px;
  bottom: -32px;
  left:455px;
  font-size: small;
}